<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.7/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         colors="true"
         processIsolation="true"
         verbose="true">
    <testsuite name="php">
        <file>tests/BaseTest.php</file>
        <file>tests/LaravelDriverOutsideAppContextTest.php</file>
    </testsuite>
    <testsuite name="laravel-4.2">
        <file>tests/Laravel42Test.php</file>
    </testsuite>
    <testsuite name="laravel-5.0">
        <file>tests/Laravel50Test.php</file>
    </testsuite>
    <testsuite name="laravel-5.6">
        <file>tests/Laravel56Test.php</file>
    </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
